<h4>
  Filter by:
  <button href="" id="international-filter-button">International Numbers</button>
  <button href="" id="extension-filter-button">Contacts with Extensions</button>
  <button href="" id="dot-com-filter-button">Contacts with .com Email Addresses</button>
</h4>

<h4>
  Sort:
  <button href="" id="sort-by-email-address">Sort by Email Address</button>
</h4>
